.main {
  margin-top: 10px;
  height: 80vh;
  background-image: url("https://wallpapercave.com/wp/wp2754864.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 25px;
}
