.main {
  margin-top: 10px;
  height: 80vh;
  background-image: url("https://wallpapercave.com/wp/wp2754864.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
